<div class="container">
        <br>
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-6 align-left ">
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6 align-left ">
           
            <div class="form-group has-search">
              <span class="fa fa-search form-control-feedback"></span>
              <input type="text" class="form-control" placeholder="Search" (keyup)="searchInterest()" [(ngModel)]="keyword">
            </div>
          
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3 align-left" *ngFor="let product of products">
            <app-product [product]="product" [loggedType]="loggedType" (usergotoLogIn)="gotoLogIn($event)" (productAddToCart)="addToCart($event)">Loading...</app-product>
          </div>
        </div>
       <p-confirmDialog [style]="{width: '50vw'}" ></p-confirmDialog>

       
      </div>
     