.invalid-input {
    color: red;
  }
  .login{
    background-image:  url(/assets/img/login.jpg);
    background-repeat:no-repeat ;
    background-size: 50%;
    background-position: top right;
  }

  .row{
    margin-top: 15px;
  }